.button-class {
    transition : 0.3s;
    background-color: 'rgb(58,63,71)';
    text-align: center;
    cursor: pointer;
}

.navbar {
    display: flex;
    transform: translateY(-6.5rem);
}

.button-class:hover{
    color: white;
}

.hide {
    display: none;
}
